{:paths ["src" "resources"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}
             "scijava" {:url "http://maven.scijava.org/content/repositories/public/"}
             "jitpack" {:url "https://jitpack.io"}
             "cloudsmith-jvm-libp2p" {:url "https://dl.cloudsmith.io/public/libp2p/jvm-libp2p/maven/"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}

        github.cljctools.cljctools/fs-jvm {:local/root "../cljctools/fs-jvm"}}

 :aliases
 {:main
  {:jvm-opts ["-Dclojure.core.async.pool-size=1" "-Dclojure.compiler.direct-linking=true"]
   :main-opts ["-m" "linux-memory-monitor.main"]}

  :repl
  {:extra-deps {github.cljctools/deps-repl {:git/url "https://github.com/cljctools/deps-repl"
                                            :sha "08283d3841c5948b0b9d36a977ebfdad111cdb2f"
                                            :tag "v2.0.1"}
                nrepl/nrepl {:mvn/version "0.8.3"}
                cider/cider-nrepl {:mvn/version "0.25.5"}}
   :main-opts ["-m" "lambdaisland.nrepl.main"
               "--init-ns" "linux-memory-monitor.main"
               "--port" "7788"
               "--bind" "0.0.0.0"
               "--middleware" "cider.nrepl/cider-middleware"]}

  :depstar
  {:replace-deps {com.github.seancorfield/depstar {:git/url "https://github.com/seancorfield/depstar"
                                                   :sha "19aa2a828e9adfeb72f302ca1011c9064fa863ce"
                                                   :tag "2.0.216 + 9"}}
   :ns-default hf.depstar
   :exec-args {}}}}